* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: mediumvioletred;
}

.block {
    width: 200px;
    height: 200px;
    margin: 200px auto;
}

h1{
    font-size: 100px;
    text-align: center;
}